
.signin-controller h2 {
    color: var(--orange-color);
    align-items: left;
    margin-bottom: 11px;
}

.signin-controller form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em auto;
    max-width: 400px;
    position: relative;
}

.signin-controller .fade-line {
    width: calc(105% - 43px - 1em);
    text-align: center;
    margin-bottom: 8px;
}

.signin-controller .signin-box {
    width: calc(105% - 43px - 1em);
    padding: 20px 15px;
    border: var(--desc-border-width) solid var(--Border-color);
    border-radius: 5px;
    background: var(--buttonBoxBg-color);

}

.signin-controller .signin-password,
.signin-controller .signin-email {
    position: relative;
    display: flex;
}

.signin-controller .email-icon,
.signin-controller .password-icon,
.signin-controller .confirm-icon {
    color: var(--esport-color);
    font-size: 18px;
    width: 1.25em;
    margin: 0 .5em;
    display:flex;
    align-items: center;
}

.signin-controller .signin-email,
.signin-controller .signin-passwordcheck,
.signin-controller .signin-password {
    width: 100%;
    background: var(--primary-color);
    border: var(--desc-border-width) solid var(--Border-color);
    margin-bottom: 1em;
    border-radius: 5px;
}

.signin-controller label {
    width: 10em;
    display: inline-block;
    margin: .75em 0;
}

.signin-controller input {
    color: var(--font-color);
    width: 100%;
    background: var(--background);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.signin-controller input::placeholder {
    font-weight: bold;
    color: var(--font-color);
}

.signin-controller .signin-submit {
    color: var(--orange-color);
    background-color: var(--buttonBg-color);
    font-weight: bold;
    margin-top: .5em;
    width: 100%;
}
